<div class="container pt-2">
  <div class="card col-sm-12 p-0 m-0 border-0 bg-white rounded-0 ">
    <div class="card-header bg-white border-0 pb-1 text-primary text-center rounded-0">
      <h3>CONSULTAR INSUMOS CON DEFECTO DE PROVEEDOR</h3>
    </div>
    <div class="card-body  pt-0 mb-0 pb-0">
      <form [formGroup]="formulario">
        <div class="form-group row mb-2 d-flex align-items-center">
          <label class="col-sm-3 col-form-label-sm p-0 m-0 pr-4 text-sm-right">
            <h6 class="font-weight-bold">Seleccionar Insumos :</h6>
          </label>
          <div class="col-sm-1 p-0 pr-3">
            <select class="form-control   pl-1 mr-0 data rounded-0" formControlName="insumo">
              <option value="NO">NO</option>
              <option value="SI">SI</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label-sm p-0 m-0 pr-4 text-sm-right">
            <h6 class="font-weight-bold">Fecha Desde:</h6>
          </label>
          <div class="col-sm-2 p-0 m-0">
            <div class="input-group ">
              <!-- <input class="form-control rounded-0" type="date" placeholder="Fecha Desde"> -->
              <input [matDatepicker]="pickerDesde" disabled class="form-control rounded-0 date" formControlName="dateFrom" [max]="this.formulario.get('dateTo').value">
              <mat-datepicker-toggle style="display:none" [for]="pickerDesde" disabled="false"></mat-datepicker-toggle>
              <mat-datepicker #pickerDesde disabled="false"></mat-datepicker>
              <div class="input-group-append rounded-0" (click)="pickerDesde.open()">
                <span class="input-group-text date rounded-0" id=""><i class="fad fa-calendar-alt"></i></span>
              </div>
              <div class="input-group-append rounded-0" (click)="this.formulario.controls['dateFrom'].setValue(null)">
                <span class="input-group-text date rounded-0 text-danger" id=""><i class="fad fa-times-circle"></i></span>
              </div>
            </div>
          </div>
          <label class="col-sm-2 col-form-label-sm p-0 m-0 pr-4 text-sm-right ">
            <h6 class="font-weight-bold" style="font-size: 18px;">Fecha Hasta:</h6>
          </label>
          <div class="col-sm-2 p-0 m-0">
            <div class="input-group">
              <!-- <input class="form-control rounded-0" type="date" placeholder="Fecha Desde"> -->
              <input [matDatepicker]="pickerHasta" class="form-control rounded-0 date" disabled formControlName="dateTo" [min]="this.formulario.get('dateFrom').value">
              <mat-datepicker-toggle style="display:none" [for]="pickerHasta" disabled="false"></mat-datepicker-toggle>
              <mat-datepicker #pickerHasta disabled="false"></mat-datepicker>
              <div class="input-group-append rounded-0" (click)="this.formulario.get('dateFrom').value?pickerHasta.open():false">
                <span class="input-group-text date rounded-0"><i class="fad fa-calendar-alt"></i></span>
              </div>
              <div class="input-group-append rounded-0" (click)="this.formulario.controls['dateTo'].setValue(null)">
                <span class="input-group-text date rounded-0 text-danger"><i class="fad fa-times-circle"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center pb-0 pt-1 mb-0">
          <button [class.btn-dark]="!formulario.valid" [disabled]="!formulario.valid" type="submit" class="btn btn-primary rounded-0"><i class="fad fa-search fa-lg"></i> BUSCAR</button>&nbsp; &nbsp;
        </div>
      </form>
    </div>
  </div>
</div>
<hr />
<pre>
  Estado del formulario: {{formulario.valid}}
  <br>
  Status: {{formulario.status}}
  </pre>
<br />

<pre>{{ formulario.value | json }}</pre>
