<div class="card border-2 border-primary  text-center rounded-0" style="max-width: 350px;   margin:auto; margin-top: 150px;">
  <div class="card-header border-2 border-primary bg-light pb-1 text-primary text-center rounded-0">
    <h2>INGRESAR</h2>
  </div>
  <div class="card-body pt-0 border-0">
    <form (ngSubmit)="login()" [formGroup]="formulario">
      <div class="form-group mt-3">
        <input formControlName="username" type="text" class="form-control rounded-0 fontAwesome" name="username" id="username" placeholder="&#x10f007; Usuario" autofocus required>
      </div>
      <div class="form-group">
        <input formControlName="userpass" type="password" class="form-control rounded-0 fontAwesome" name="password" id="password" placeholder="&#xf09c; Contraseña" required>
      </div>
      <div class="form-group">
        <button [class.btn-dark]="!formulario.valid" [disabled]="!formulario.valid" type="submit" class="btn btn-primary btn-block rounded-0 fontAwesome"><i class="fad fa-sign-out-alt fa-lg"></i> Entrar</button>
      </div>
    </form>
  </div>

<!-- </div>
<hr />
<pre>
Estado del formulario: {{formulario.valid}}
<br>
Status: {{formulario.status}}
</pre>
<br />

<pre>{{ formulario.value | json }}</pre> -->
