.logout {
  margin-top: 25px;
  border-radius: 0px;
  width: 150px;
  position: fixed;
  z-index: 1;
}

.logout-drop {
  border-radius: 0px;
  padding: 5px;
  width: 150px;
}

.logout-drop button {
  border-radius: 0px;
  padding: 0;
}
